footer {
  background-color: black;
  color: white;
}
.rodape1 {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rodape1 img {
  width: 80px;
}
.rodape1 p {
  width: 200px;
}
.rodape2 {
  height: 50px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .rodape1 {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .rodape1 div {
    margin-bottom: 20px;
  }
  .rodape2 {
    border: 1px solid white;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
  }
}
